# Version control
.git
.gitignore

# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd

# Docker
.dockerignore
Dockerfile*
docker-compose*.yml

# Docs and assets
*.md
assets/
notebooks/

# Tests
tests/

# Env and secrets
.env

# Logs and temp
*.log
logs/

# ML artefacts (скачиваются в рантайме)
models/
.cache/