aiofiles==25.1.0
fastapi==0.135.2
loguru==0.7.3
numpy==2.4.4
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
psutil==7.2.2
pydantic-settings==2.13.1
pydantic==2.12.5
python-multipart==0.0.22
redis==7.4.0
rq-dashboard-fast==0.9.1
rq==2.7.0
uvicorn==0.42.0